main img {
  width: 100%;
  height: 350px;
}
main {
  margin: 40px 0;
}
main .produtos-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
  max-width: 1500px;
  padding: 0 20px;
}
.figureProdutos {
  position: relative;
  width: 300px;
  height: auto;
}
.figureProdutos figcaption {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
figcaption button {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 10px;
  cursor: pointer;
}
figcaption button:hover {
  padding: 12px;
}
.figureProdutos:hover {
  opacity: 0.8;
  z-index: 1;
}
.figureProdutos:hover img {
}
.figureProdutos:hover figcaption {
  display: block;
}
@media screen and (pointer: fine) {
}

@media screen and (pointer: coarse) {
  .figureProdutos figcaption {
    display: block;
    position: static;
  }
  .figureProdutos:hover figcaption {
    display: none;
  }
  figcaption button {
    width: 300px;
  }
  main img {
    width: 100%;
    height: 350px;
  }
  .figureProdutos {
    position: relative;
    max-width: 300px;
    height: auto;
  }
}
