* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
}
:root {
  --black: #000000;
  --white: #ffffff;
  --light-blue: #1877f7;
  --beige: #f7f0e5;
  --dark-blue: #0352bd;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--dark-blue);
  border-radius: 50px;
}
.hidden{
  display: none;
}
body {
  position: relative;
}
.icons-fixed {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  z-index: 2;
  left: 20px;
  bottom: 50px;
  font-family: "Poppins";
  color: var(--dark-blue);
}
.icons-fixed i {
  font-size: 40px;
  background-color: var(--white);
  padding: 1px 2px;
  border-radius: 5px;
}
.icons-fixed p {
  display: none;
  background-color: var(--white);
  border-radius: 5px;
  padding: 1px 2px;
  font-weight: 500;
}
.icon-fixed-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.icon-fixed-item:hover p{
  display: block;
}
