.hero {
  background: url("../images/banner1.png") center/cover fixed;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
.hero .container {
  background: url("../images/banner-hover.png") no-repeat fixed;
  background-position: center 40%;
  background-size: 60%;
  height: 100%;
}
.informacoes-hero-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  text-align: start;
  align-items: center;
  padding: 20px;
  font-family: "poppins";
}
.informacoes-hero-bottom div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  font-weight: 500;
  color: var(--dark-blue);
}
.informacoes-hero-bottom div .div-icon {
  width: 30px;
  height: 30px;
  text-align: center;
}
.informacoes-hero-bottom .div-icon i {
  padding: 10px;
  border-radius: 50%;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}
main .container {
  display: flex;
}
main .container1{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: justify;
  align-items: center;
  gap: 15px;
  color: var(--black);
  padding: 20px;
  overflow: hidden;
  margin: 0 auto;
}
main .container1 .img-main {
  width: 300px;
  overflow: hidden;
}
main .container1 .text-CTA {
  max-width: 500px;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
main .text-CTA .line {
  width: 100%;
  height: 3px;
  background-color: var(--light-blue);
}
main .text-CTA .fonte-especial {
  color: var(--light-blue);
  font-size: 16px;
}
main .text-CTA .cat-buttom {
  max-width: 99%;
  min-width: 99%;
}
main .text-CTA .call-of-action {
  margin: 0 auto;
}
main .call-of-action {
  text-align: center;
  background-color: var(--dark-blue);
  color: var(--white);
  border: 2px solid var(--dark-blue);
  font-size: 15px;
  border-radius: 10px;
  padding: 20px 10px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 4px;
}
main .call-of-action:hover {
  background-color: var(--light-blue);
}
main .call-of-action a /* texto buttom */ {
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0.8;
  gap: 5px;
}
main p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
main .container:last-child {
  background: url("../images/banner1.png") center/cover fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}
main .container .faixa-subtitle {
  width: 100%;
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: 20px;
}
main .container .carrossel {
  width: 100%;
  margin: 30px 0;
  overflow: hidden;
}
main .container .carrossel img {
  max-width: 300px;
  height: 300px;
}
main img {
  border-radius: 10px;
}
.main .container:last-child .call-of-action {
  padding: 10px;
}
